* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset rules */


body {
    background-color: rgb(72, 72, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#countdown {
    display: flex;
    gap: 30px
}

#countdown .circle-time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
}

#countdown .circle-time svg {
    position: relative;
    width: 150px;
    height: 150px;
}

#countdown .circle-time svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 9;
    stroke: #282828;
    transform: translate(5px, 5px);
}

#countdown .circle-time svg circle:nth-child(2) {
    --clr: #0000FF;
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#countdown div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 1.5em
}

#countdown .dot {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
}

#countdown .dot::before {
    content: " ";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background-color: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}